<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39731877872-5ditnd61h04ppts76qru0gfegj7oav7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39731877872-5ditnd61h04ppts76qru0gfegj7oav7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCHZFGnwEYRDOXmCACBM0BuT96NGBlcJQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>39731877872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.liftedjoshua.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-cfec7</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-cfec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39731877872:ios:fe78263bbe3377efc62f35</string>
</dict>
</plist>